! {{ ansible_managed }} - role: zsh

! Base16 Twilight
! Scheme: David Hart (https://github.com/hartbit)

#define base00 #1e1e1e
#define base01 #323537
#define base02 #464b50
#define base03 #5f5a60
#define base04 #838184
#define base05 #a7a7a7
#define base06 #c3c3c3
#define base07 #ffffff
#define base08 #cf6a4c
#define base09 #cda869
#define base0A #f9ee98
#define base0B #8f9d6a
#define base0C #afc4db
#define base0D #7587a6
#define base0E #9b859d
#define base0F #9b703f

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05
!
*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07
!
! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

XTerm.vt100.saveLines: 10000
XTerm.vt100.scrollBar: false
XTerm.vt100.faceName: Source Code Pro for Powerline:size=9:antialias=true:hinting=true

URxvt*scrollBar: false
URxvt*cursorUnderline: false
{#URxvt*colorUL: #ff88ff#}
URxvt*internalBorder:0
URxvt*borderColor: base00
URxvt*perl-ext-common: vtwheel,font-size

URxvt.keysym.C-Up:       perl:font-size:increase
URxvt.keysym.C-Down:     perl:font-size:decrease
URxvt.keysym.C-S-Up:     perl:font-size:incglobal
URxvt.keysym.C-S-Down:   perl:font-size:decglobal

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.depth: 32

{#
URxvt.font: xft:Ubuntu\ Mono\ derivative\ Powerline:size=10:normal:antialias=true:hinting=true, xft:Inconsolata for Powerline
URxvt.boldFont: xft:Ubuntu\ Mono\ derivative\ Powerline:size=10:bold:antialias=true:hinting=true, xft:Inconsolata for Powerline
#}
URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:size=9:antialias=true:hinting=true, xft:Inconsolata for Powerline
URxvt.boldFont: xft:Source\ Code\ Pro\ for\ Powerline:size=9:bold:antialias=true:hinting=true, xft:Inconsolata for Powerline:bold
{# !URxvt.letterSpace: -.75 #}

rofi.lines: 15
rofi.fuzzy: true
rofi.font: Source\ Code\ Pro Semibold 10

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
!						     text			mark	   marktext
! Color scheme for normal row
rofi.color-normal:                   argb:00000000,  #C3C3C3 , argb:00000000,  #{{ roficolor }} ,  #C5C8C6
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1d1f21
! Color scheme for active row
rofi.color-active:                   argb:00000000,  #f0c674 , argb:00000000,  #F0C674 ,  #1d1f21
! Color scheme window
rofi.color-window:                   argb:ee222222,  #{{ roficolor }} , #{{ roficolor }}
! Separator style (none, dash, solid)
rofi.separator-style:                dash
